WAREHOUSE_PORTAL_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
WAREHOUSE_PORTAL_API_TOKEN=change-this-to-a-long-random-secret
ALLOWED_ORIGIN=https://maruwarehouse.vercel.app
